<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>童澄</string>
	<key>Build</key>
	<string>210</string>
	<key>BundleIdentifier</key>
	<string>com.baonahao.tongchengschool</string>
	<key>Version</key>
	<string>2.1.0</string>
	<key>baidu_MapKey</key>
	<string>bKGkLcupNPkALbjxB1u0fkPeSPIxEsxu</string>
	<key>bugly_AppId</key>
	<string>0ed5d92399</string>
	<key>bugly_AppKey</key>
	<string>012e5482-8c59-4696-9ef1-e5b4c8d9c283</string>
	<key>guide_count</key>
	<string>0</string>
	<key>home_page_num</key>
	<string>7</string>
	<key>is_allied_school</key>
	<string>2</string>
	<key>is_always_show_guidepage</key>
	<string>1</string>
	<key>is_has_agreement</key>
	<string></string>
	<key>is_ixiao_star</key>
	<string></string>
	<key>jPush_AppKey</key>
	<string>a7d7480c3918ef078229e57d</string>
	<key>login_type</key>
	<string>1</string>
	<key>merchant_id</key>
	<string>a349c971b8b541d48ab1e41d735c8bac</string>
	<key>mine_page_num</key>
	<string>1</string>
	<key>project_id</key>
	<string>4b6aab68132c44068d643a5a78e68962</string>
	<key>system_color</key>
	<string>#FF9500</string>
	<key>uMeng_AppKey</key>
	<string>5c6e41e9b465f596450012ca</string>
	<key>weChat_AppID</key>
	<string></string>
	<key>weChat_AppSecret</key>
	<string></string>
</dict>
</plist>
