<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.baonahao.annihuaschool</string>
	<key>AppName</key>
	<string>蜜由</string>
	<key>Version</key>
	<string>2.0.6</string>
	<key>Build</key>
	<string>260</string>
	<key>project_id</key>
	<string>0b9a54462e95466bb49ac325c49ebaef</string>
	<key>merchant_id</key>
	<string>f6d804f64ea841b5a85ae261e280df59</string>
	<key>system_color</key>
	<string>F2D940</string>
	<key>baidu_MapKey</key>
	<string>p3g5OoSvTaDN0rYBuErAxhMbmEwFyE3s</string>
	<key>weChat_AppID</key>
	<string>wx072e0f656539b1eb</string>
	<key>weChat_AppSecret</key>
	<string>e3baccc03ab047f1f3cf490b1e588aac</string>
	<key>jPush_AppKey</key>
	<string>d3b9e5c5017342b6955105b7</string>
	<key>uMeng_AppKey</key>
	<string>5bd910ddf1f556f567000210</string>
	<key>bugly_AppId</key>
	<string>18e18883a5</string>
	<key>bugly_AppKey</key>
	<string>ae47af8b-c698-492e-b031-672e8b166d23</string>
	<key>home_page_num</key>
	<string>1</string>
	<key>mine_page_num</key>
	<string>7</string>
	<key>is_allied_school</key>
	<string>2</string>
	<key>login_type</key>
	<string>2</string>
	<key>is_always_show_guidepage</key>
	<string>0</string>
	<key>guide_count</key>
	<string>0</string>
</dict>
</plist>
