<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.BaoNaHaoParent.yixuetangschool</string>
	<key>Name</key>
	<string>益学堂</string>
	<key>Version</key>
	<string>1.5.0</string>
	<key>Build</key>
	<string>1.5.0</string>
</dict>
</plist>
