<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>merchant_id</key>
		<string>4660b1ed1eba47cd913386f13e98a0b5</string>
	</dict>
	<key>Loaction</key>
	<dict>
		<key>merchant_id</key>
		<string>a7e431fbeb2b805b38180cd2ca8d1d27</string>
	</dict>
	<key>FangZhen</key>
	<dict>
		<key>merchant_id</key>
		<string>4660b1ed1eba47cd913386f13e98a0b5</string>
	</dict>
	<key>online</key>
	<dict>
		<key>merchant_idTest</key>
		<string></string>
		<key>merchant_id</key>
		<string>46befa6e6e63486e9c8e5f606691fa7d</string>
	</dict>
</dict>
</plist>
