<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.baonahao.linghangschool</string>
	<key>AppName</key>
	<string>领航英语</string>
	<key>Version</key>
	<string>2.0.6</string>
	<key>Build</key>
	<string>206</string>
	<key>project_id</key>
	<string>b6e74b27f7e54829b3f8535d0ce5d0a7</string>
	<key>merchant_id</key>
	<string>b43ce155cd2a424ea7bf7f03e4bbcc2a</string>
	<key>system_color</key>
	<string>19992B</string>
	<key>baidu_MapKey</key>
	<string>NbXNYANGfUcTlTG4VC8augNVQa7como0</string>
	<key>weChat_AppID</key>
	<string></string>
	<key>weChat_AppSecret</key>
	<string></string>
	<key>jPush_AppKey</key>
	<string>8f89189bcb9b083dbadc91f4</string>
	<key>uMeng_AppKey</key>
	<string>5be105dbf1f55667330000d1</string>
	<key>bugly_AppId</key>
	<string>91cb71df03</string>
	<key>bugly_AppKey</key>
	<string>f50875bc-f2e1-4197-a264-edf352defb83</string>
	<key>home_page_num</key>
	<string>7</string>
	<key>mine_page_num</key>
	<string>7</string>
	<key>is_allied_school</key>
	<string>2</string>
	<key>login_type</key>
	<string>2</string>
	<key>is_always_show_guidepage</key>
	<string>0</string>
	<key>guide_count</key>
	<string>0</string>
</dict>
</plist>
