<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.BaoNaHaoParent.tengfeischool</string>
	<key>AppName</key>
	<string>腾飞教育</string>
	<key>Version</key>
	<string>1.3.0</string>
	<key>Build</key>
	<string>1.3.0</string>
</dict>
</plist>
