<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.BaoNaHaoParent.tengfeischool</string>
	<key>AppName</key>
	<string>腾飞教育</string>
	<key>Version</key>
	<string>1.3.0</string>
	<key>Build</key>
	<string>1.3.0</string>
	<key>project_id</key>
	<string>6887924941644ccda5fc18db3ff3df04</string>
	<key>merchant_id</key>
	<string>4720d109e612723b137db83b53c024bd</string>
	<key>system_color</key>
	<string>#FFC822</string>
	<key>agencyIntro_url</key>
	<string>http://m.baonahao.com/statics/tengfei</string>
	<key>merchant_phone</key>
	<string>0510-85887827</string>
	<key>baidu_MapKey</key>
	<string>MeqfFpueIyhLWHDFMUWrZhRxfHGtkHEt</string>
	<key>weChat_AppID</key>
	<string></string>
	<key>weChat_AppSecret</key>
	<string></string>
	<key>jPush_AppKey</key>
	<string>cdb78eb40946c991c4142962</string>
	<key>uMeng_AppKey</key>
	<string>5a138e4f8f4a9d60b30001a0</string>
	<key>bugly_AppId</key>
	<string>5816b081b7</string>
	<key>bugly_AppKey</key>
	<string>9b24c7ca-3340-4978-a568-f9a4d6d96c90</string>
	<key>alipay_URLScheme</key>
	<string>com.baonahao.tengfei</string>
	<key>wechat_URLScheme</key>
	<string></string>
</dict>
</plist>
