<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>merchant_id</key>
		<string>fd2f08f8620a4fad9a548080be516233</string>
	</dict>
	<key>Loaction</key>
	<dict>
		<key>merchant_id</key>
		<string>a7e431fbeb2b805b38180cd2ca8d1d27</string>
	</dict>
	<key>FangZhen</key>
	<dict>
		<key>merchant_id</key>
		<string>fd2f08f8620a4fad9a548080be516233</string>
	</dict>
	<key>online</key>
	<dict>
		<key>merchant_idTest</key>
		<string>3a561786284b40bc8b5dbe8c353a7192</string>
		<key>merchant_id</key>
		<string>8988424dfa1247529541df9a98bdcc59</string>
	</dict>
</dict>
</plist>
