<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.baonahao.xiaolundunschool</string>
	<key>AppName</key>
	<string>小伦敦英语</string>
	<key>Version</key>
	<string>2.0.9</string>
	<key>Build</key>
	<string>208</string>
	<key>project_id</key>
	<string>29290642a8b94dda859e6c53ee62a2ce</string>
	<key>merchant_id</key>
	<string>d15aad4f22b24384a0c23b6bfcfa55da</string>
	<key>system_color</key>
	<string>60B1C1</string>
	<key>baidu_MapKey</key>
	<string>b5szEXmNbWMIfXH4cwfVlexGnLQpCbWU</string>
	<key>weChat_AppID</key>
	<string>wxbc8b0e9291acd677</string>
	<key>weChat_AppSecret</key>
	<string>4653510f3966d3fdf587f4efc953938a</string>
	<key>jPush_AppKey</key>
	<string>8fe193ea835599acc4f937a0</string>
	<key>uMeng_AppKey</key>
	<string>5bac8cfdb465f599b6000195</string>
	<key>bugly_AppId</key>
	<string>75625fb530</string>
	<key>bugly_AppKey</key>
	<string>baffe4c1-8bbb-4090-a2a9-395cd807df7f</string>
	<key>home_page_num</key>
	<string>9</string>
	<key>mine_page_num</key>
	<string>4</string>
	<key>is_allied_school</key>
	<string>2</string>
	<key>login_type</key>
	<string>2</string>
	<key>is_always_show_guidepage</key>
	<string>0</string>
	<key>guide_count</key>
	<string>0</string>
	<key>is_ixiao_star</key>
	<string>2</string>
</dict>
</plist>
