<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.BaoNaHaoParent.hangxiangschool</string>
	<key>AppName</key>
	<string>52017</string>
	<key>Version</key>
	<string>1.3.0</string>
	<key>Build</key>
	<string>1.3.0</string>
	<key>project_id</key>
	<string>01b3f0f0e82547508a8b75912aaf066b</string>
	<key>merchant_id</key>
	<string>b627f8284a374cc28099cb223568aac2</string>
	<key>system_color</key>
	<string>#90B927</string>
	<key>agencyIntro_url</key>
	<string>http://webview.m.baonahao.com/view/MerchantIntroduce/52017.html</string>
	<key>merchant_phone</key>
	<string>076981552017</string>
	<key>baidu_MapKey</key>
	<string>vAmTDQdMjVEiE36ooXQm6DtcZYOzu6LF</string>
	<key>weChat_AppID</key>
	<string>wx160c5dd16c71664a</string>
	<key>weChat_AppSecret</key>
	<string></string>
	<key>jPush_AppKey</key>
	<string>7c9c17f7ec02bc0bbe5ff88f</string>
	<key>uMeng_AppKey</key>
	<string>5a4eec1ea40fa3691e000059</string>
	<key>bugly_AppId</key>
	<string>c2f7372b61</string>
	<key>bugly_AppKey</key>
	<string>0333665b-f043-4e01-b023-a769c0f28d61</string>
	<key>alipay_URLScheme</key>
	<string>com.baonahao.hangxiang</string>
	<key>wechat_URLScheme</key>
	<string>wx160c5dd16c71664a</string>
</dict>
</plist>
