<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>merchant_id</key>
		<string>fce3f72c2ba144fb8c040e89afe3118b</string>
	</dict>
	<key>Loaction</key>
	<dict>
		<key>merchant_id</key>
		<string>a7e431fbeb2b805b38180cd2ca8d1d27</string>
	</dict>
	<key>FangZhen</key>
	<dict>
		<key>merchant_id</key>
		<string>fce3f72c2ba144fb8c040e89afe3118b</string>
	</dict>
	<key>online</key>
	<dict>
		<key>merchant_idTest</key>
		<string>36119852111e44678378eeda5087b33a</string>
		<key>merchant_id</key>
		<string>b627f8284a374cc28099cb223568aac2</string>
	</dict>
</dict>
</plist>
