<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>K宝典</string>
	<key>Build</key>
	<string>200</string>
	<key>BundleIdentifier</key>
	<string>com.baonahao.daqianschool</string>
	<key>Version</key>
	<string>2.0.0</string>
	<key>baidu_MapKey</key>
	<string>usUNHgkSn0n2UH1KzEanA7TLGG3bKH4p</string>
	<key>bugly_AppId</key>
	<string>ec35cbfbbe</string>
	<key>bugly_AppKey</key>
	<string>0598fa86-1ac1-4996-8729-2b9b3ea990dc</string>
	<key>guide_count</key>
	<string>0</string>
	<key>home_page_num</key>
	<string>4</string>
	<key>is_allied_school</key>
	<string>2</string>
	<key>is_always_show_guidepage</key>
	<string>1</string>
	<key>is_has_agreement</key>
	<string>0</string>
	<key>is_ixiao_star</key>
	<string>0</string>
	<key>jPush_AppKey</key>
	<string>8ce88a5b8ddb7b62a3ecf908</string>
	<key>login_type</key>
	<string>2</string>
	<key>merchant_id</key>
	<string>76e446de12244189ae9e80938df79b61</string>
	<key>mine_page_num</key>
	<string>4</string>
	<key>project_id</key>
	<string>01d0fdb552954ff6ad6d832ef71adcdf</string>
	<key>system_color</key>
	<string>#FF3E00</string>
	<key>uMeng_AppKey</key>
	<string>5c7deb6d3fc195db59000a69</string>
	<key>weChat_AppID</key>
	<string></string>
	<key>weChat_AppSecret</key>
	<string></string>
</dict>
</plist>
