<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.baonahao.kaipuluoschool</string>
	<key>AppName</key>
	<string>禹州教育</string>
	<key>Version</key>
	<string>2.0.0</string>
	<key>Build</key>
	<string>200</string>
	<key>project_id</key>
	<string>f35221d2297e49ad88b5eaab54dc983d</string>
	<key>merchant_id</key>
	<string>7c6ad6572a764e5e96d86d08e84670c3</string>
	<key>system_color</key>
	<string>1077BD</string>
	<key>baidu_MapKey</key>
	<string>7utb3XOyTQhetBgDU85GUqqp6IXXKkkg</string>
	<key>weChat_AppID</key>
	<string></string>
	<key>weChat_AppSecret</key>
	<string></string>
	<key>jPush_AppKey</key>
	<string>905871ebfacf937f2e30c0bc</string>
	<key>uMeng_AppKey</key>
	<string>5b83b9b1f43e482d13000033</string>
	<key>bugly_AppId</key>
	<string>de19c0c0b9</string>
	<key>bugly_AppKey</key>
	<string>1cf20830-edf1-42a1-b32e-405fb9606e17</string>
	<key>home_page_num</key>
	<string>5</string>
	<key>mine_page_num</key>
	<string>4</string>
	<key>is_allied_school</key>
	<string>2</string>
	<key>login_type</key>
	<string>2</string>
</dict>
</plist>
