<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>merchant_id</key>
		<string>086650d2ad40417abe8607c769144061</string>
	</dict>
	<key>Loaction</key>
	<dict>
		<key>merchant_id</key>
		<string>a7e431fbeb2b805b38180cd2ca8d1d27</string>
	</dict>
	<key>FangZhen</key>
	<dict>
		<key>merchant_id</key>
		<string>086650d2ad40417abe8607c769144061</string>
	</dict>
	<key>online</key>
	<dict>
		<key>merchant_idTest</key>
		<string></string>
		<key>merchant_id</key>
		<string>7c6ad6572a764e5e96d86d08e84670c3</string>
	</dict>
</dict>
</plist>
