<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleIdentifier</key>
	<string>com.baonahao.kaipuluoschool</string>
	<key>Name</key>
	<string>开普洛教育</string>
	<key>Version</key>
	<string>2.0.0</string>
	<key>Build</key>
	<string>200</string>
</dict>
</plist>
